{% extends 'frame/main.html' %} {% load widget_tweaks %} {% block content %}
<div class="col-12 mt-3">
  <div class="card card-olive card-outline">
    <div class="card-header">
      <h2 class="card-title mt-2">Data Guru</h2>
      <div class="card-tools">
        <ul class="nav nav-pills ml-auto">
          <li class="nav-item mr-1">
            <a href="{% url 'add_dataguru' %}" class="btn btn-block btn-primary"
              ><i class="fas fa-plus"></i> Tambah Guru</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{% url 'output' %}"
              target="_blank"
              class="btn btn-dark mb-2 float-right"
              ><i class="fas fa-download"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <form method="get">
        <div class="row">
          <div class="col-md-2 mb-2">
            <p>Nama Lengkap:</p>
            {{ filter.form.nama_lengkap|add_class:"form-control" }}
          </div>
          <div class="col-md-2 mb-2">
            <p>Gender:</p>
            {{ filter.form.gender_santri|add_class:"form-control" }}
          </div>
          <div class="col-md-2 mt-4 mb-2">
            <button class="btn btn-danger btn-block mt-3" type="submit">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </div>
      </form>

      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="align-middle text-center">No.</th>
            <th>Nama</th>
            <th>Gender</th>
            <th>Tetala</th>
            <th>Tanggal Lahir</th>
            <th>Alamat</th>
            <th>Jabatan</th>
            <th>Pendidikan</th>
            <th class="align-middle text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for dj in d_guru %}
          <tr>
            <td class="align-middle text-center">{{forloop.counter}}</td>
            <td class="align-middle">{{ dj.nama }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center">Data Guru Kosong</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</div>
{% endblock content %}
